/* src/App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.App {
  text-align: left;
}
.App h1{
  color: red;
}
header {
  background-color:black;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

.logos {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logos img {
  width: 100px; /* Adjust the size as needed */
  height: 100px;
  border-radius: 50%;
  margin: 0 10px;
}

.content {
  padding: 20px;
  color: wheat;
  background-color:#34495e;
}
.content h2{
  color:blueviolet;
}
footer {
  background-color:black;
  color: #fff;
  padding: 20px;
}

footer h2 {
  margin: 0;
}
.content li{
  color: orangered;
}
.content li a{
  color:yellow
}

footer h2{
  color: red;
}
